[mysqld]
log-bin=mysql-bin
server-id=1
expire_logs_days = 5
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
validate_password=off         #关闭密码安全策略
default_password_lifetime=0   #设置密码不过期
log_bin=/var/log/mysql/mysql-bin